<div class="collection-details-container" *ngIf="!loading">
  <div class="collection-header" *ngIf="collection">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    
    <div class="collection-info">
      <h1>{{ collection.title }}</h1>
      <p class="description">{{ collection.description }}</p>
      <div class="collection-meta">
        <span class="created-date">Created {{ collection.createdDate | dateFormat:'long' }}</span>
        <span class="movie-count">{{ collection.movies.length }} movies</span>
      </div>
    </div>
  </div>

  <div class="movies-section" *ngIf="collection">
    <div class="movies-grid" *ngIf="collection.movies.length > 0">
      <app-movie-card
        *ngFor="let movie of moviesAsMovieType"
        [movie]="movie"
        [showRemoveButton]="true"
        [showActions]="false"
        (removeMovie)="removeMovieFromCollection(movie)"
        (movieClick)="openMovieDetails(movie)">
      </app-movie-card>
    </div>

    <div class="empty-collection" *ngIf="collection.movies.length === 0">
      <mat-icon>movie_off</mat-icon>
      <h2>No Movies in This Collection</h2>
      <p>Add some movies to get started!</p>
    </div>
  </div>
</div>

<div class="loading-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
  <p>Loading collection...</p>
</div> 